
.ipynb_checkpoints/NoSQL_analysis_starter_complete-checkpoint.ipynb
.ipynb_checkpoints/NoSQL_analysis_starter-checkpoint.ipynb
.ipynb_checkpoints/NoSQL_setup_starter-checkpoint.ipynb
.ipynb_checkpoints/NoSQL_setup_starter_complete-checkpoint.ipynb
